/*
--------------------------------------------------
+ iamrobert
==================================================
*/
.form-horizontal .control-group {
	margin-bottom: 18px;
	border-bottom: 1px solid #efefef;
	padding-bottom: 13px;
	vertical-align: middle;
}
.form-horizontal .control-group + input[type=hidden] {
	margin-bottom: -18px;
	border-bottom: none;
	padding-bottom: 0;
}
/*.form-horizontal .control-group label {
    font-weight: 600;
    margin-bottom: 7px;
	text-align: right;
}*/

.form-horizontal .control-label, .form-horizontal .control-group > label,  #flexicontent .h-14 .flexi_label {
	float: left;
	padding-top: 5px;
	text-align: right;
	width: 25%;
	max-width: 250px;
	vertical-align: middle;
}
.form-horizontal .control-group > label, .form-horizontal .control-label {
	margin-bottom: 0;
	padding-top: 5px;
	font-weight: bold;
	color: #555;
	border-bottom: none;
	border-right: none;
	font-size: 13px;
	white-space: inherit;
	margin-right: 3%;
	background: transparent;
	border: none;
	float: left;
}
.form-horizontal .control-group > label small {
	font-weight: normal;
}

.form-horizontal .control-group > label.invalid, .form-horizontal .control-label.invalid, label.invalid {color: #da5a47;}

@media (max-width: 767px) {
.form-horizontal .control-label, #flexicontent .params_set label.hasTooltip, #flexicontent .pane-sliders label.hasTip, #flexicontent .pane-sliders label.hasTooltip, #flexicontent .params_set label.hasTip, #flexicontent .params_set label.hasTooltip, #flexicontent .flexi_params label.hasTip, #flexicontent .flexi_params label.hasTooltip, #flexicontent label.fckey, #flexicontent .flexi_label, .com_flexicontent #content label {
	width: auto;
	text-align: left;
	margin-right: 0px;
	margin-bottom: 5px;
}
.com_flexicontent #content .control-group > label, .form-horizontal .control-label {
	width: 100%;
	float: left;
}

#flexicontent .fcfield_textval {max-width: 90%;}
}

#flexicontent .h-14 .flexi_label {margin: 17px 10px 0 0;}
/* FLEXIcontent long button groups */
@media (max-width: 1200px) {
.com_flexicontent #content label.btn {
	padding: 6px;
	font-size: 12px;
}
label#jform_params_default_searchphrase-lbl {
	width: 100%;
	text-align: left;
}
}

@media (max-width: 767px) {
/* flexicontent yes/no buttons */
.com_flexicontent #content label.btn {
	padding: 4px 3px;
	font-size: 10px;
	text-align: center;
}
#jform_params_comments label, #jform_params_show_icons label, #jform_params_cat_image_source label, #jform_params_show_itemcount label, #jform_params_show_subcatcount label, #jform_params_subcat_image_source label, #jform_params_show_subcategories label, #jform_params_filter_instructions label, #jform_params_filter_placement label, #jform_params_show_search_label label, #jform_params_show_label_subcats label, #jform_params_show_empty_cats label, #jform_params_show_description_image_subcat label, #jform_params_default_searchphrase label, #jform_params_search_autocomplete label, #jform_params_filters_order label, #jform_params_show_filter_labels label, #jform_metadata_robots label {
	display: block;
	max-width: 250px;
	border-radius: 4px;
}
}

@media (max-width: 350px) {
.com_flexicontent #content label.btn {
	display: block;
	max-width: 250px;
	border-radius: 4px;
}
}

@media (max-width: 1000px) {
label#jform_params_show_filter_labels-lbl {
	width: 100%;
	text-align: left;
}
}
.form-horizontal .controls {
	float: left;
	margin-left: 0px;
	width: 70%;
	max-width: 1000px;
}



.form-horizontal .control-group + .controls {
	width: 100%;
	border: 10px solid #000;}
	
@media (max-width: 767px) {
.form-horizontal .controls {
	width: 100%;
}	
}

.form-horizontal .span3 .controls {
	width: 60%;}
.controls .minicolors input[type="text"] {padding-left: 40px;}

/*.controls .input-prepend input[type="text"].input-small,
.controls input-append input[type="text"].input-small {
	padding: 6px 7px;}*/
/* no-float: right */
div.akeeba-bootstrap .form-horizontal .controls {float: none;}

.controls .btn-group.btn-group-yesno > .btn {
	text-align: center;
}



/*
--------------------------------------------------
+ LOGIN BOX
==================================================
*/
input#mod-login-username, input#mod-login-password {max-width: 65%;}

	.view-login .well {box-shadow: none; border: none; padding: 0;}
	.view-login .logo  {margin: 10px 0; max-width: 80%;}
	
	.view-login fieldset.loginform {padding: 19px 0 19px 19px; border: none; margin: 0 2px;}
	
	.com_advancedmodules.view-module .chzn-container {width: 220px !important;}
	
	
	input#mod-login-username, input#mod-login-password {width: 270px !important;}

.block-flat-login {
	margin-bottom: 10px;
	padding: 0px;
	margin-right: 10px;
	background: #FFF;
	border-radius: 3px;
	position: relative;
	-webkit-border-radius: 3px;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #e2e2e2;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
	transition: padding 500ms;
	-moz-transition: padding 500ms;
	-webkit-transition: padding 500ms;
	display: inline-block;
}

.loginform .controls {margin-bottom: 15px;}


/* 
 --------------------------------------------------
 + AMM MENU
 ==================================================
 */
div fieldset td input[type=radio] {min-width: 30px;}


body #sbox-content table.amm_table  {background: #ccc;}


/*
--------------------------------------------------
+ HUGE GALLERY PLUGIN
==================================================
*/
/* override */
.form-horizontal .controls.container_fcfield_name_gallery  {width: 100%;}
.buttons-add fieldset {margin: 20px;}

.buttons-add input#gallery_gallery_name {display: inline;}
.buttons-add legend + .control-group {margin-top: 0px;}
.form-horizontal .control-group > label[for=gallery_gallery_name], .form-horizontal .control-label[for=gallery_uploaded_file],
.form-horizontal .control-group > label.control-labelw
{float: none; display: block; text-align: left; width: auto;}
.buttons-add td {vertical-align: top;}
.com_flexicontent #content .hugegallery table.borderfree.no-strip {
	width: 100%;
	max-width: 100%;
	overflow-x: scroll;
	border: 1px solid #transparent !important;
	margin-bottom: 5px;
	background: #fff;
}
.hugegallery table.borderfree.no-strip td.key {
	width: 80px;
}
.com_flexicontent #content .hugegallery label {
	width: 90%;
	text-align: right;
}
.com_flexicontent #content .hugegallery input {
	width: 90%;
}
.com_flexicontent #content .hugegallery textarea {
	width: 90%;
}
.com_flexicontent #content .hugegallery input.inputbox.fcbutton {
	width: auto;
}

.com_flexicontent #content .hugegallery input.inputbox.fcbutton {
	
		display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	text-shadow: none;
	background-color: #f5f5f5;
	border: 1px solid #bbb;
	*border: 0;
	border-bottom-color: #a2a2a2;
	*margin-left: .3em;
	}
.com_flexicontent #content .hugegallery input.inputbox.fcbutton:hover {
	background: #da5a47;
	color: #fff;
}
li.hugegallery img.thumbs {
	border-bottom: none!important;
	min-width: 80px;
	width: 80px;
	height: auto;
	margin: 0;
	border: 1px solid #ccc;
}
li.hugegallery {
	margin: 0 auto;
	background: #f2f2f2;
	padding: 5px;
}
.hugegallery .row .form-horizontal .control-group {
	margin-bottom: 0;
	border-bottom: 0;
}
.hugegallery .form-horizontal .controls {
	width: 100% !important;
}
#flexicontent form .hugegallery :not(.input-prepend):not(.input-append) >input {
	width: 90%;
	height: auto;
	border-radius: 1px;
	box-shadow: none;
	font-size: 12px;
	padding: 6px 8px;
}
/* firefox fix */
.img-responsive {
	width: 100%;
}
/* vertical alignment styles */
.col-top {
	vertical-align: top;
}
.col-middle {
	vertical-align: middle;
}
.col-bottom {
	vertical-align: bottom;
}
/* columns of same height styles */
.container-xs-height {
	display: table !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.row-xs-height {
	display: table-row !important;
}
.col-xs-height {
	display: table-cell !important;
	float: none !important;
}