/******************************
+ iamrobert 
+ CSS RULES
+ JOOMLA TOP NAVIGATION
******************************/
body.view-help, body.com_postinstall {
	background: #fff;
}

/* joomla default Menu need to adjust based on logo height */
.navbar ul#menu.nav  {margin-top: 5px;}

/* subhead fixed height need to adjust based on logo height 
Joomla default logo is 47px;*/
.subhead-fixed {top: 51px;}

js-stools .js-stools-field-list, .js-stools .js-stools-field-filter {
display: inline-block;
margin: 5px 5px 5px 0;
}
/******************************
+ CSS RULES
******************************/
.clear, .clr {clear: both;}
.right {
	float: right;
}
.overflow-hidden {
	overflow: hidden;
}
.no-margin {
	margin: 0 !important;
}
.no-margin-y {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.no-margin-x {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margin-top {
	margin-top: 0 !important;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.no-margin-left {
	margin-left: 0 !important;
}
.no-margin-right {
	margin-right: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.no-padding-y {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.no-padding-x {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.p10 {
	padding: 10px 0;
	margin-top: 0;
	border-bottom: 1px solid #dadada;
}
.m10l {
	margin-left: 10px;
}
.m3l {
	margin-left: 3px;
}
.m5r {
	margin-right: 5px;
}
.m20r {
	margin-right: 20px;
}
.m10r {
	margin-right: 10px;
}
.m20 {
	margin-top: 20px;
}
.m20b {
	margin-bottom: 20px;
	clear: both;
}
.m60 {
	margin: 60px 0;
}
.m20x {
	margin: 20px;
}

.p20x {
	padding: 20px;
}
@media (max-width: 767px) {
.m20x {margin: 20px 10px;}
}
/*.smallx > div {
	display: inline-block;
	margin-bottom: 7px;
}*/
.m5 {
	margin: 5px 0;
}
.m10 {
	margin: 10px 0;
}

.m20l {margin: 0 8px 0 20px;}

.m10x {
	margin-top: 15px;
	padding-bottom: 5px;
	border-bottom: 1px dotted rgb(227,230,232);
	margin-bottom: 7px;
}
.ml40 {
	padding-left: 20px;
	border-left: 1px solid #dadada;
	margin-left: 15px;
	float: left;
}

@media (max-width: 1000px) {
.ml40, .flexicontent .block-flat #fc-filters-header .ml40.fc-filter {
margin-top: 10px;
padding-left: 0px;
border-left: none;
margin-left: 0px;
clear: left; 
}	
}
@media (max-width: 767px) {
.ml40 {
clear: left; }
}

ol.no-margin {
	margin-left: 0;
	padding-left: 0;
}
ol.no-margin li {
	margin-left: 0;
	padding-left: 0;
}
.none, .hidden { display: none !important; }
/*
--------------------------------------------------
+ typography
=================================================
*/
.nowrap_box {white-space:nowrap;}
.text-left {text-align: left;}
.text-right {text-align:right;}




/* Control Panel */
.com_cpanel .well {border: none;}

@media (max-width:767px) {
.container-fluid.container-main {
	padding: 0px;
}

}
.shift-right {
	margin: 30px 20px;
	margin-right: 0;
}
.bgcolor {

}
.s-logo {
	display: block;
}
.headerx {
	background-color: #fff;
	padding: 5px 20px;
	color: #2c3e50;
	border-bottom: 1px solid #e7e7e7;
}
.smaller-div {
	margin-top: -30px;
}
/*.subhead-collapse {margin-top: 20px;}*/
.subheadx {
	background-color: #f1f1f1;
	border-bottom: 1px solid #d4d4d4;
	color: #0C192E;
	text-shadow: none;
	margin-bottom: 0px;
}
.navbar .nav {
	margin-top: 2px;
}




/*
--------------------------------------------------
+ TABS
==================================================
*/


/* joomla overrides */
.nav.nav-tabs {
	margin-bottom: 0;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	color: #7761a7;
	font-weight: bold;
}
/*TABS*/
.nav-tabs {
	border-bottom: 1px solid transparent;
}
.nav-tabs > li {
	font-size: 14px;
	margin-right: 2px;
}
.nav-tabs > li.active {
	position: relative;
}
.nav-tabs.wall > li {
	margin-bottom: 2px;
}
.nav-tabs > li > a {
	padding: 9px 15px;
	font-size: 13px;
	margin-right: 0;
	min-width: 80px;
	text-align: center;
}
.nav-tabs.wall > li > a {
	padding: 9px 15px;
	font-size: 13px;
	margin-right: 0;
	min-width: 20px;
	color: #555;
	text-align: center;
	border: none;
}
.nav-tabs.wall > li > a:hover, .nav-tabs.wall > li > a:active {
	background: transparent;
	border: none;
	color: #7761a7;
	border-radius: 2px;
	-webkit-border-radius: 2px 2px 0 0;
}
.nav-tabs.wall > li.active > a:after, .nav-tabs.wall > li.active > a:hover:after, .nav-tabs.wall > li.active > a:focus:after {
	content: "";
	display: block;
	height: 10px;
	background: url('../images/menu-tail-up.png') no-repeat;
	position: absolute;
	bottom: -3px;
	top: auto;
	left: 50%;
	margin-left: -8px;
	width: 17px;
}
.nav-tabs.wall > li.active > a, .nav-tabs.wall > li.active > a:hover, .nav-tabs.wall > li.active > a:focus {
	background: transparent;
	color: #7761a7;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 0;
	border-bottom: 0;
	padding-bottom: 10px;
	padding-top: 9px;
	box-shadow: none;
	position: static;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:active {
	background: transparent;
	border: 1px solid transparent;
	color: #634d93;
	border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
}
.nav-tabs > li.active > a:after, .nav-tabs > li.active > a:hover:after, .nav-tabs > li.active > a:focus:after {
	content: "";
	display: block;
	height: 2px;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-top: 2px solid #7761a7;
	border-radius: 0;
	-webkit-border-radius: 0;
	border-bottom: 0;
	padding-bottom: 10px;
	padding-top: 8px;
	box-shadow: 1px -3px 4px -3px rgba(0, 0, 0, 0.08);
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	position: static;
}
.tab-content {
	background: #fff;
	padding: 20px;
	border-bottom: 1px solid #E2E2E2;
	border-left: 1px solid #ECECEC;
	border-radius: 0 3px 3px;
	-webkit-border-radius: 0 3px 3px;
	border-right: 1px solid #ECECEC;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
	margin-bottom: 40px;
}
.tab-content #picture .fileinput .thumbnail {
	border: 2px dashed #dadada;
}
.tab-content #picture .fileinput .thumbnail h2 {
	top: 30%;
	position: relative;
}
.tab-content h3, h2, h1:first-child {
	margin-top: 0;
}
/*Tab Bottom*/
.tab-bottom .nav-tabs {
	margin-bottom: 40px;
}
.tab-bottom .tab-content {
	margin-bottom: 0;
}
.tab-bottom .nav-tabs > li.active > a:after, .tab-bottom .nav-tabs > li.active > a:hover:after, .tab-bottom .nav-tabs > li.active > a:focus:after {
	bottom: 0;
	top: auto;
}
.tab-bottom .nav-tabs > li.active > a, .tab-bottom .nav-tabs > li.active > a:hover, .tab-bottom .nav-tabs > li.active > a:focus {
	border-top: 0;
	border-bottom: 2px solid #7761a7;
	margin-top: -1px;
	box-shadow: 1px 3px 4px -3px rgba(0, 0, 0, 0.08);
}
.tab-bottom .tab-content {
	border-radius: 3px 3px 3px 0;
	-webkit-border-radius: 3px 3px 3px 0;
}
/*Tab Left*/
.tabs-left > .nav-tabs {
	float: left;
}
.tabs-left > .nav-tabs > li {
	float: none;
	margin-right: 0;
	margin-bottom: 0;
}
.tabs-left > .nav-tabs > li > a {
	text-align: left;
	min-width: 38px;
	padding: 12px 10px;
	border-radius: 0;
	-webkit-border-radius: 0;
}
.tabs-left > .nav-tabs > li .fa {
	font-size: 14px;
}
.tabs-left > .nav-tabs > li.active > a:after, .tabs-left > .nav-tabs > li.active > a:hover:after, .tabs-left > .nav-tabs > li.active > a:focus:after {
	bottom: 0;
	top: auto;
	width: 2px;
	height: 100%;
}
.tabs-left > .nav-tabs > li.active > a, .tabs-left > .nav-tabs > li.active > a:hover, .tabs-left > .nav-tabs > li.active > a:focus {
	border-top: 0;
	border-bottom: 1px solid #ECECEC;
	border-right: 0;
	border-left: 2px solid #7761a7;
	margin-right: -1px;
	box-shadow: -1px 3px 4px -3px rgba(0, 0, 0, 0.08);
	padding: 13px 10px 12px 9px;
}
.tab-left .tab-content {
	overflow: auto;
	border-radius: 0 3px 3px 3px;
	-webkit-border-radius: 0 3px 3px 3px;
}
.tab-content .alert {
	margin-top: 20px;
}
/*Tab Right*/
.tab-right .nav-tabs {
	float: right;
}
.tab-right .tab-content {
	overflow: auto;
	border-radius: 3px 0 3px 3px;
	-webkit-border-radius: 3px 0 3px 3px;
}
.tab-right .nav-tabs > li {
	float: none;
	margin-right: 0;
	margin-bottom: 2px;
}
.tab-right .nav-tabs > li > a {
	text-align: left;
	min-width: 38px;
	padding: 12px 10px;
}
.tab-right .nav-tabs > li .fa {
	font-size: 14px;
}
.tab-right .nav-tabs > li.active > a:after, .tab-right .nav-tabs > li.active > a:hover:after, .tab-right .nav-tabs > li.active > a:focus:after {
	bottom: 0;
	right: 0;
	left: auto;
	top: auto;
	width: 2px;
	height: 100%;
}
.tab-right .nav-tabs > li.active > a, .tab-right .nav-tabs > li.active > a:hover, .tab-right .nav-tabs > li.active > a:focus {
	border-top: 0;
	border-bottom: 1px solid #ECECEC;
	border-left: 0;
	border-right: 2px solid #7761a7;
	margin-left: -1px;
	box-shadow: 1px 3px 4px -3px rgba(0, 0, 0, 0.08);
	padding: 13px 10px 12px 12px;
}
.shadow.tab-content {
	border-bottom: 1px solid #DADADA;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
}
/*
--------------------------------------------------
+ FORMS
==================================================
*/

span.star {
	display: none;
}
label.required:after, .required label:after {
	content: '*';
	color: #da5a47;
	padding-left: 5px;
}



.com_flexicontent table#adminListTableFCitems.no-border thead th, 
.com_flexicontent table#adminListTableFCitems.no-border tbody td, 
.com_flexicontent table#adminListTableFCitems.no-border tbody, 
.com_flexicontent table#adminListTableFCitems.no-border td {
	border-bottom: 1px solid #dadada;
}

.com_flexicontent table#adminListTableFCitems.no-border table thead th, 
.com_flexicontent table#adminListTableFCitems.no-border table tbody td, 
.com_flexicontent table#adminListTableFCitems.no-border table tbody, 
.com_flexicontent table#adminListTableFCitems.no-border table td {
border-bottom: none;
}/*
--------------------------------------------------
+ BLOCKFLAT
==================================================
*/


 #cpanel {border-bottom: none;}
 


body.com_admintools.view- #content, body.com_akeeba.view- #content, body.com_akeeba.view- #cpanel, body.com_rsform #content {
	background: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	margin: 0px;
	padding: 0;
	margin-bottom: 50px;
	border: none;
	box-shadow: none;
}

body.com_admintools.view- #content, body.com_akeeba.view- #content {margin-top: 20px;}
/*Alerts*/
.alert, #fcorder_notes_box, .fc-mssg-inline {
padding: 10px;
margin: 20px 0;
border: 1px solid transparent;
font-size: 13px;
}
.alert {
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0;
}
.alert .sign {
  color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
  text-align: center;
  width: 25px;
  display: inline-block;
}
.alert .close {
  text-shadow: none;
}
.alert-primary {
  background-color: #7761a7;
  border-color: #6d579d;
  color: #fff;
}
.alert-success {
  background-color: #19b698;
  border-color: #0fac8e;
  color: #fff;
}
.alert-info, #fcorder_notes_box {
	background: #fff;
    border: 2px solid #4099d5;
    color: #404040;
    position: relative;
}
.alert-warning {
  background-color: #f16e3f;
  border-color: #e76435;
  color: #fff;
}
.alert-danger {
  background-color: #ea6153;
  border-color: #e05749;
  color: #fff;
}
/*Alert White*/
.alert-white {
  background: #fff;
  border-color: #d5d5d5;
  color: #404040;
  padding-left: 61px;
  position: relative;
}
.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 103%;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #BDBDBD;
  padding-top: 15px;
}
.alert-white .icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #BDBDBD;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}
.alert-white.rounded {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.alert-white.rounded .icon {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}
.alert-white .icon i {
  font-size: 20px;
  color: #FFF;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
.alert-white.alert-danger .icon,
.alert-white.alert-danger .icon:after {
  border-color: #e05749;
  background: #ea6153;
}
.alert-white.alert-info .icon,
.alert-white.alert-info .icon:after {
  border-color: #4099d5;
  background: #4aa3df;
}
.alert-white.alert-warning .icon,
.alert-white.alert-warning .icon:after {
  border-color: #e76435;
  background: #f16e3f;
}
.alert-white.alert-success .icon,
.alert-white.alert-success .icon:after {
  border-color: #0fac8e;
  background: #19b698;
}
.alert-white.alert-primary .icon,
.alert-white.alert-primary .icon:after {
  border-color: #6d579d;
  background: #7761a7;
}
/*Alert White alt 1*/
.alert-white-alt {
  border-width: 2px;
  background: #fff;
  color: #404040;
  padding-left: 61px;
  position: relative;
}
.alert-white-alt .icon {
  text-align: center;
  width: 45px;
  height: 103%;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #BDBDBD;
  padding-top: 15px;
}
.alert-white-alt .icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #BDBDBD;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}
.alert-white-alt.rounded {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.alert-white-alt.rounded .icon {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}
.alert-white-alt .icon i {
  font-size: 20px;
  color: #FFF;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
.alert-white-alt.alert-danger .icon,
.alert-white-alt.alert-danger .icon:after {
  border-color: #e05749;
  background: #ea6153;
}
.alert-white-alt.alert-info .icon,
.alert-white-alt.alert-info .icon:after {
  border-color: #4099d5;
  background: #4aa3df;
}
.alert-white-alt.alert-warning .icon,
.alert-white-alt.alert-warning .icon:after {
  border-color: #e76435;
  background: #f16e3f;
}
.alert-white-alt.alert-success .icon,
.alert-white-alt.alert-success .icon:after {
  border-color: #0fac8e;
  background: #19b698;
}
.alert-white-alt.alert-primary .icon,
.alert-white-alt.alert-primary .icon:after {
  border-color: #6d579d;
  background: #7761a7;
}
/*Alert White Alt 2*/
.alert-white-alt2 {
  background: #fff;
  border-color: #d5d5d5;
  color: #404040;
  padding-left: 61px;
  position: relative;
}
.alert-white-alt2 .icon {
  text-align: center;
  width: 45px;
  height: 103%;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #d5d5d5;
  padding-top: 15px;
}
.alert-white-alt2 .icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #d5d5d5;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}
.alert-white-alt2 .icon i {
  font-size: 20px;
  color: #FFF;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}
.alert-white-alt2.alert-danger .icon i {
  color: #ea6153;
}
.alert-white-alt2.alert-info .icon i {
  color: #4aa3df;
}
.alert-white-alt2.alert-warning .icon i {
  color: #f16e3f;
}
.alert-white-alt2.alert-success .icon i {
  color: #19b698;
}
.alert-white-alt2.alert-primary .icon i {
  color: #7761a7;
}

/**FLEXICONTENT*/
.fc-mssg-inline {
	  background: #fff;
  border-color: #d5d5d5;
  color: #404040;
display: block;
  position: relative;}
 /* 
 --------------------------------------------------
 + JCE EDITOR OVERRIDES
 ==================================================
 */
 #jce ul.adminformlist>li>div {margin-left: 0 !important;}
 
 #jce fieldset.adminform {color: #555 !important; font-family: 'Open Sans' !important;}
 
 
 form[name="adminForm"] #jce {
border-radius: 0px !important;
}
 /* 
 --------------------------------------------------
 + com_akeeba
 ==================================================
 */
.com_akeeba .label {padding: 5px 2%; max-width: 96%}

.com_akeeba #backup-steps {margin-bottom: 5px;}

 /* 
 --------------------------------------------------
 + mijoevents
 ==================================================
 */
 .admin.com_mijoevents input[type="text"]#search {display: inline-block;}
 
 .admin.com_mijoevents .uploadform .controls {float: none;}
 
.adminlist.table.table-striped td {vertical-align: middle;}


input[name="order[]"] {margin-bottom: 0;}

.com_mijoevents.view-categories  #content .mainc.span12 {margin: 20px;}

input.mijoevents_date, input.mijoevents_end_date, input.cut_off_date, input.cancel_before_date, input.early_bird_discount_date {font-size: 12px;}

.adminlist#price_list {text-align: center;}

/* 
 --------------------------------------------------
 + quickicons
 ==================================================
 */
.com_akquickicons #j-sidebar-container .page-header{display: none;}

/* 
 --------------------------------------------------
 + no number
 ==================================================
 */
ul#new-modules-list {background: #fff;}